/* CSS Reset */

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size: 100%;
	font-family: sans-serif;
  vertical-align: bottom;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}

button {
  color: #333333;
   -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
}

button:focus, input:focus, select:focus {
  outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

/* Homepage CSS */

.homepage-container {
  height: 93vh;
  background-color: black;
  color: #ffcc66;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dashboard-section {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  background-color: #ed7161;
  height: 7vh;
}

.home-select {
  text-align: center;
  padding-top: 12px;
  font-size: 22px;
  color: #ffcc66;
  border-left: 1px solid #ea4732;
  border-right: 1px solid #ea4732;
}

.home-select:hover {
  background-color: #ffcc66;
  /* border-left: 1px solid #ed7161;
  border-right: 1px solid #ed7161; */
  color: #ed7161;
  cursor: pointer;
}

.home-select.active {
  background-color: #ffcc66;
  color: #ed7161;
}

.intro-title {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 30px;
}

/* Signup & Login CSS */

.login-prompt {
  padding: 80px 0px 40px 0px;
  text-align: center;
  font-size: 22px;
}

.form-container-signup, .form-container-login{
  background-color: black;
  color: #ffcc66;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.signup-form, .login-form {
  text-align: center;
}

.input-field {
  font-weight: 200;
  height: 50px;
  font-size: 16px;
  width: 30%;
  padding-left: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid #ed7161;
  background-color: #ffcc66;
  color: #ed7161;
  transition: ease-in-out .4s;
}

.input-field::placeholder {
  color: #ed7161;
}

.input-field:focus {
  transform:scale(1.05);
}

.submit-button {
  font-weight: 200;
  color: #ffcc66  ;
  height: 50px;
  font-size: 16px;
  width: 30%;
  padding-left: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ed7161;
  transition: ease-in-out .4s;
  cursor: pointer;
}

.submit-button:hover {
  transform: scale(1.05);
}

.alt-text {
  text-align: center;
  padding-top: 20px;
}

.logout-container {
  text-align: right;
}

.logout-button {
  background-color: #000 ;
  font-weight: 200;
  color: #fff;
  height: 35px;
  width: 80px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ed7161;
  cursor: pointer;
  margin: 10px 10px 0px 0px;
}

.logout-button:hover {
  background-color: #ffcc66;
  color: #000;
}

.pointer {
  cursor: pointer;
}


/* Customize Ship CSS */

.customize-ship-container {
  display: grid;
  height: 80vh;
  grid-template-columns: 60% 40%;
}

.customize-panel {
  height: 85%;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  border: 5px solid #ed7161;
  background-color: #ffcc66;
  color: #ed7161;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.ship-picture-container {
  text-align: center;
  padding-top: 100px;
}

.ship {
  width: 250px;
}

/* Leaderboard CSS  */

.leaderboard-section {
  height: 93vh;
  padding-top: 70px;
}

.leaderboard-container {
  padding-top: 20px;
}

.leaderboard {
  height: 75%;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  border: 5px solid #ed7161;
  background-color: #ffcc66;
  color: #ed7161;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.table {
  width: 100%;
}

.leaderboard-title {
  background-color: black;
  margin: 40px 0px 20px 0px;
}

.column-player, .column-rank, .column-stat {
  width: 33%;
}


/* Play CSS */

.lobby-container {
  height: 93vh;
  padding-top: 150px; 
  text-align: center;
  color: #ed7161;
}

.play {
  height: 75px;
  width: 200px;
  margin: 100px auto;
  border-radius: 10px;
  border: 5px solid #ed7161;
  background-color: #ffcc66;
  color: #ed7161;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  transition: ease-in-out .4s;
  cursor: pointer;
}

.play:hover {
  transform:scale(1.05);
}