/* CSS Reset */

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size: 100%;
	font-family: sans-serif;
  vertical-align: bottom;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}

button {
  color: #333333;
   -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
}

button:focus, input:focus, select:focus {
  outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

/* Homepage CSS */

.homepage-container {
  height: 100vh;
  background-color: black;
  color: #ffcc66;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: scroll;
}

.dashboard {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  background-color: #ed7161;
  height: 45px;
}

.home-select {
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  color: #ffcc66;
  border-left: 1px solid #ea4732;
  border-right: 1px solid #ea4732;
}

.home-select:hover {
  background-color: #ffcc66;
  color: #ed7161;
  cursor: pointer;
}

.home-select.active {
  background-color: #ffcc66;
  color: #ed7161;
}

.intro-title {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 30px;
}

/* Signup & Login CSS */

.login-prompt {
  text-align: center;
  font-size: 22px;
}

.signup-form, .login-form {
  text-align: center;
  font-size: 18px;
}

.mystats-login {
  padding-bottom: 20px;
  background: black;
}

.myship-login > .login-prompt{
  padding-top: 80px;
  padding-bottom: 40px;
}

.mystats-login > .login-prompt{
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-container-login, .form-container-signup {
  color: #ed7161;
}

.hidden {
  display: none;
}

.input-field {
  font-weight: 200;
  height: 50px;
  font-size: 16px;
  width: 225px;
  padding-left: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid #ed7161;
  background-color: #ffcc66;
  color: #ed7161;
  transition: ease-in-out .4s;
}

.input-field::placeholder {
  color: #ed7161;
}

.input-field:focus {
  transform:scale(1.05);
}

.submit-button {
  /* font-weight: 200; */
  color: black;
  height: 50px;
  font-size: 16px;
  width: 225px;
  padding-left: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ed7161;
  transition: ease-in-out .4s;
  cursor: pointer;
}

.submit-button:hover {
  transform: scale(1.05);
}

.alt-text {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
}

.errors {
  font-size: 16px;
  color: #ffcc66
}

.logout-container {
  text-align: right;
}

.logout-button {
  background-color: #000 ;
  font-weight: 200;
  color: #fff;
  height: 35px;
  width: 80px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ed7161;
  cursor: pointer;
  margin: 10px 10px 0px 0px;
}

.logout-button:hover {
  background-color: #ffcc66;
  color: #000;
}

.pointer {
  cursor: pointer;
}


/* My Ship CSS */

.customize-ship-container {
  display: grid;
  height: 80vh;
  grid-template-columns: 60% 40%;
}

.customize-panel {
  height: 85%;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  border: 5px solid #ed7161;
  background-color: #ffcc66;
  color: #ed7161;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.ship-picture-container {
  text-align: center;
  padding-top: 100px;
}

.ship {
  width: 250px;
}

/* Leaderboard & Stats CSS  */

.leaderboard-section {
  padding-top: 70px;
}

.leaderboard {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  border: 5px solid #ed7161;
  background-color: #ffcc66;
  color: #ed7161;
  font-size: 30px;
  text-align: center;
  overflow: scroll;
}

.leaderboard-menu {
  font-size: 28px;
  height: 60px;
  display: grid;
  grid-template-columns: 50% 50%;
  /* border-bottom: 1px solid #ffcc66 */
}
.leaderboard-table, .stats-table {
  width: 100%;
  padding-bottom: 20px;
}

.table {
  width: 100%;
}

.table-title, .stats-title {
  background-color: black;
  font-size: 22px;
}

.table-body {
  font-size: 22px;
  line-height: 1.7;
}

.column-player, .column-rank, .column-stat, .column-wins, .column-losses {
  width: 20%;
}

.column-points, .column-wins, .column-losses, .column-winloss {
  width: 25%;
}

.board-select {
  padding-top: 12px;
  background-color: #ed7161;
  color: #ffcc66;
  cursor: pointer;
}

.board-select.active {
  background-color: #ffcc66;
  color: #ed7161;
  border-radius: 10px;
}

/* Play CSS */

.lobby-container {
  height: 93vh;
  padding-top: 150px; 
  text-align: center;
  color: #ed7161;
}

.play {
  height: 75px;
  width: 200px;
  margin: 100px auto;
  border-radius: 10px;
  border: 5px solid #ed7161;
  background-color: #ffcc66;
  color: #ed7161;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  transition: ease-in-out .4s;
  cursor: pointer;
}

.play:hover {
  transform:scale(1.05);
}