/* Play CSS */

.play-lobby {
  width: 60%;
  margin: 20px auto;
  border-radius: 10px;
  border: 5px solid #fc03a1;
  background-color: #ffe600;
  color: #fc03a1;
  padding-bottom: 20px;
  text-align: center;
  /* opacity: .9; */
}

.join-button {
  color: black;
  height: 50px;
  font-size: 22px;
  width: 225px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fc03a1;
  transition: ease-in-out .4s;
  cursor: pointer;
}

.instructions {
  line-height: 1.3;
  padding-top: 5px;
}

.lobby-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play {
  height: 70px;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  border: 5px solid #fc03a1;
  background-color: #ffe600;
  color: #fc03a1;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  transition: ease-in-out .4s;
  cursor: pointer;
}

.play:hover {
  transform:scale(1.05);
}




